.home-second-box {
  min-height: 90vh;
  padding: 40px;
  overflow: auto;
}
.home-moods-heading {
  font-family: Inter;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #ffbe38;
  text-align: center;
  margin-top: 0px;
}
@media screen and (max-width: 767px) {
  .home-second-box {
    padding: 24px;
  }
  .home-moods-heading {
    display: none;
  }
}

.home-flex-center-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-content-box {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
  max-width: 900px;
  max-height: 500px;
  font-family: 'Roboto';
  color: whitesmoke;
}
.home-calender-box {
  width: 58%;
  padding: 14px;
  background-image: linear-gradient(#343243, #1c1a28);
  border-radius: 14px;
  backdrop-filter: blur(116px);
  box-shadow: 6.82px 6.82px 16.37px 0px #51515166 inset,
    -6.82px -6.82px 20.46px 0px #28262675 inset;
}
@media screen and (max-width: 767px) {
  .home-content-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .home-calender-box {
    width: 100%;
    padding: 14px;
    order: 2;
  }
}

.home-emoji-count-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 38%;
  height: 100%;
}
.home-emoji-box {
  height: 48%;
  background-image: linear-gradient(#343243, #1c1a28);
  border-radius: 14px;
  border: 1px #343243 solid;
  padding: 14px;
}
.home-count-box {
  height: 48%;
  background-image: linear-gradient(#343243, #1c1a28);
  border-radius: 14px;
  border: 1px #343243 solid;
  padding: 14px;
}
@media screen and (max-width: 767px) {
  .home-emoji-count-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }
  .home-emoji-box {
    height: auto;
    background-image: linear-gradient(#343243, #1c1a28);
    border-radius: 14px;
    border: 1px #343243 solid;
    padding: 14px;
    order: 1;
    margin-bottom: 24px;
  }
  .home-count-box {
    height: auto;
    background-image: linear-gradient(#343243, #1c1a28);
    border-radius: 14px;
    border: 1px #343243 solid;
    padding: 14px;
    order: 3;
    margin-bottom: 24px;
  }
}

.home-calender-monthName-box {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 14px;
}
.home-calender-next-prev-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 4px;
  color: white;
  font-size: 12px;
}
.home-calender-month-text {
  color: white;
  font-size: 16px;
  flex: 1;
  text-align: center;
  margin: 0px;
}
@media screen and (max-width: 767px) {
  .home-calender-month-text {
    font-size: 14px;
  }
}

.ul-paddingLeft-zero {
  padding-left: 0px;
  display: flex;
  margin: 0px;
}
.home-calender-dates-ul-box {
  flex-wrap: wrap;
}
.home-calender-dayName-li-item {
  list-style-type: none;
  flex: 1;
  text-align: center;
  color: whitesmoke;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .home-calender-dayName-li-item > p {
    font-size: 12px;
  }
}

.home-calender-dates-li-item {
  list-style-type: none;
  width: 14.28%;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.home-calender-dates-li-button {
  border: none;
  background-color: #343243;
  outline: none;
  cursor: pointer;
  width: 80%;
  height: 28px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.home-calender-dates-li-span {
  font-size: 14px;
}
.home-calender-dates-emoji {
  width: 18px;
  height: 18px;
  margin-left: 4px;
}
@media screen and (max-width: 767px) {
  .home-calender-dates-li-button {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 32px;
  }
  .home-calender-dates-li-span {
    font-size: 10px;
  }
  .home-calender-dates-emoji {
    margin: 0px;
    margin-top: 4px;
    width: 12px;
    height: 12px;
  }
}

.home-emojiBox-ul-box {
  min-height: calc(100%);
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
}
.home-emojiBox-li-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.home-emojiBox-text {
  margin: 0px;
  margin-bottom: 8px;
  font-size: 10px;
  color: white;
}
.home-emojiBox-emoji {
  height: 34px;
  width: 34px;
}
.home-emojiBox-emoji:hover {
  transform: scale(1.2);
  transition: transform 0.3s linear;
}
.home-emojiBox-selectedEmoji {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.4));
  width: 50px;
  height: 50px;
  transition: height 0.3s;
}
.background-transparent-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.home-countBox-main-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-countBox-content-box {
  padding-inline: 8px;
}
.home-countBox-content-select-box {
  display: flex;
  justify-content: space-between;
}
.home-countBox-select-item {
  width: 45%;
  height: 34px;
  position: relative;
}
.home-countBox-select-item > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 8px;
  background: #373644;
  border: 1px solid #4e5d72;
  box-shadow: 0px 1px 2px 0px #00000014;
  padding: 4px 12px;
  font-size: 14px;
}
.home-countBox-select-item > div > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 24px;
  padding-top: 4px;
  margin: 0px;
}
.home-countBox-select-item > ul {
  padding: 0px;
  margin: 0px;
  margin-top: 4px;
  list-style-type: none;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
  border: 1px solid #4e5c72;
  border-radius: 8px;
  box-shadow: 0px 4px 16px 0px #40495329;
  background: #343243;
  padding-inline: 4px;
  padding-block: 14px;
}
@media (max-width: 1024px) {
  .home-countBox-select-item > div > span {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .home-countBox-select-item span {
    font-size: 10px;
  }
}
.home-countBox-select-item > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 8px;
  padding-inline: 6px;
  border-radius: 12px;
}
.home-countBox-select-item > ul > li > span {
  font-size: 14px;
}
.home-countBox-select-item > ul > li:hover {
  background: #4e5c72;
}
.ticked {
  color: #ffbe38;
}
.home-countBox-count-heading {
  color: white;
  text-align: center;
}
